name: CI

on: [ push ]

env:
  # Enable format attributes in ncurses headers
  # Enable fortified memory/string handling
  CPPFLAGS: -DGCC_PRINTF -DGCC_SCANF -D_FORTIFY_SOURCE=2

jobs:
  build-ubuntu-arch-matrix-full-featured-gcc:
    runs-on: s390x/ubuntu-20.04
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}
    strategy:
      matrix:
        include:
          - arch: s390x
            distro: ubuntu22.04
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
          uname -a
          apt-get install -q -y libncursesw5-dev libhwloc-dev libnl-3-dev libnl-genl-3-dev libsensors4-dev libcap-dev make pkg-config
    - name: Bootstrap
      run: ./autogen.sh
    - name: Configure
      run: ./configure --enable-werror --enable-openvz --enable-vserver --enable-ancient-vserver --enable-unicode --enable-hwloc --enable-setuid --enable-delayacct --with-sensors --with-capabilities
    - name: Build
      run: |
          make -k
          make distcheck DISTCHECK_CONFIGURE_FLAGS='--enable-werror --enable-openvz --enable-vserver --enable-ancient-vserver --enable-unicode --enable-hwloc --enable-setuid --enable-delayacct --with-sensors --with-capabilities'
          
  lint-whitespace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-whitespaces
        run: git diff-tree --check $(git hash-object -t tree /dev/null) HEAD

  lint-pcp-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-pcp-style
        run: ./check-pcp-style.sh
