name: CI

on: [ push ]

env:
  # Enable format attributes in ncurses headers
  # Enable fortified memory/string handling
  CPPFLAGS: -DGCC_PRINTF -DGCC_SCANF -D_FORTIFY_SOURCE=2

jobs:
  build-ubuntu-arch-matrix-full-featured-gcc:
    runs-on: ubuntu-22.04
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}
    strategy:
      matrix:
        include:
          - arch: s390x
            distro: ubuntu22.04
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
           platforms: s390x
    - name: Start s390x container
      run: |
          container_id=$(docker run -d -t --platform linux/s390x -v ${{ github.workspace }}:/repo s390x/ubuntu:22.04 bash)
          echo "CONTAINER_ID=$container_id" >> $GITHUB_ENV
    - name: Install Dependencies
      run: |
          docker exec $CONTAINER_ID uname -a
          docker exec $CONTAINER_ID apt-get -q -y update && apt-get install -q -y sudo && sudo apt-get install -q -y libncursesw5-dev libhwloc-dev libnl-3-dev libnl-genl-3-dev libsensors4-dev libcap-dev make pkg-config
    - name: Bootstrap
      run: docker exec $CONTAINER_ID ./autogen.sh
    - name: Configure
      run: docker exec $CONTAINER_ID ./configure --enable-werror --enable-openvz --enable-vserver --enable-ancient-vserver --enable-unicode --enable-hwloc --enable-setuid --enable-delayacct --with-sensors --with-capabilities
    - name: Build
      run: |
          docker exec $CONTAINER_ID make -k
          docker exec $CONTAINER_ID make distcheck DISTCHECK_CONFIGURE_FLAGS='--enable-werror --enable-openvz --enable-vserver --enable-ancient-vserver --enable-unicode --enable-hwloc --enable-setuid --enable-delayacct --with-sensors --with-capabilities'

  lint-whitespace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-whitespaces
        run: git diff-tree --check $(git hash-object -t tree /dev/null) HEAD

  lint-pcp-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-pcp-style
        run: ./check-pcp-style.sh
